
  .countdown-title {
    color: #396;
    font-weight: 50;
    font-size: 10px;
    margin: 20px 0px 10px;
  }
  
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  .countdown-number {
    padding: 10px;
    display: inline-block;
  }
  
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
  }
  
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }